{% extends "base_generic.html" %}

{% block title %}<title>Homepage</title>{% endblock %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary.
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Fiction genres:</strong> {{ fiction_genres }}</li>
    <li><strong>Summer Theme Titles:</strong> {{ summer_theme_titles }}</li>
    <li><strong>Session: {{ session }}</strong></li>
  </ul>
  <!-- 
  Code to test CSRF protection of my other app  
  <iframe name="csrf-frame"></iframe>
  <form id = "csrf-form" method="POST" action="http://">
    {% csrf_token %}
    <table>
      <tr>
          <td><input type="hidden" name="username" required id="id_username" value=""></td>
      </tr>
      <tr>
          <td><input type="hidden" name="password"  required id="id_password" value=""></td>
      </tr>
  </table>
  <input style="display:none" type="submit" value="login">
  <input type="hidden" name="next" value="">
  </form>
  <script>
    document.getElementById("csrf-form").submit();
  </script>
-->
{% endblock %}
