{% extends "base_generic.html" %}

{% block content %}
<h1>{{author.first_name}} {{author.last_name}}</h1>

  <p><strong>Date of birth:</strong> {{ author.date_of_birth }}
  <p><strong>Date of death:</strong>
    {% if author.date_of_death %}
        {{author.date_of_death}}
    {% else %} --
    {% endif %}
</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    <!--
      This method is needed because you declare a ForeignKey (one-to many) field only in the "many" side
      of the relationship (the BookInstance). Since you don't do anything to declare the relationship in
      the other ("one") model, it (the Book) doesn't have any field to get the set of associated records.
      
      To overcome this problem, Django constructs an appropriately named "reverse lookup" function that you
      can use. The name of the function is constructed by lower-casing the model name where the ForeignKey was
      declared, followed by _set (i.e. so the function created in Book is bookinstance_set()).        
    -->

    <!--
        Note: Here we use all() to get all records (the default). While you can use the filter() method to get a
        subset of records in code, you can't do this directly in templates because:
        
        you can't specify arguments to functions.
    -->
    {% for book in author.book_set.all %}
      <hr>
        <p><a href ="{{ book.get_absolute_url }}">{{book.title}}</a></p>
    {% endfor %}
  </div>
{% endblock %}