{% extends "base_generic.html" %}

{% load static %}

{% block title %}<title>Homepage</title>{% endblock %}

{% block content %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- <script src="{% static 'jquery-3.7.0.min.js' %}"></script> -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script> -->
<!--<link rel="stylesheet" href="{% static 'assets/dist/css/bootstrap.min.css' %}"/> -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'assets/dist/css/bootstrap-markdown.min.css' %}"/>
<script src="{% static 'assets/dist/js/to-markdown.js' %}"></script>
<script src="{% static 'assets/dist/js/markdown.js' %}"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'assets/dist/js/bootstrap-markdown.js' %}"></script>

<div class="container">
  <h3>Add a post!</h3>
  <!-- An empty action sends the form data to the same view.-->
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form-group">
        <table>
          {{ form.as_p }}
        </table>
        <hr/>
        <button type="submit" class="btn">Submit</button>
    </form>
  </div>
  <script>
    $("#target-editor").markdown({
      // auto focus after instantiated
      autofocus: false,

      // is hideable
      hideable: false,

      // is savable
      savable: false,

      // width/height
      width: 'inherit',
      height: 'inherit',

      // none,both,horizontal,vertical
      resize: 'none',

      // custom icon
      iconlibrary: 'glyph',

      // default language
      language: 'en',

      // Contains enable (bool) and icons (object) keys
      fullscreen: {},

      // Enables integration with DropZone for allowing file upload/linking via drag&drop
      dropZoneOptions: null,

      // Array or string of button names to be hidden. 
      hiddenButtons: [],

      // Array or string of button names to be disabled. Default is empty string
      disabledButtons: []
    });
  </script>
{% endblock %}