{% load static %}
  {% if page_obj %}
    <div>
      <!-- Main content -->
      <div class="container-fluid">
        {% for post in page_obj %}
        <!-- End of post 1 -->
        <div class="row pos-relative py-3 px-3 mb-3 rounded-1" style="border-style: solid; border-color: brown">
        <!--  <div class="align-items-center"> -->
            <div class="col col-md-8">
              <h5>
                <a href="{% url 'post-detail' post_id=post.id %}" class="text-primary">{{post.title}}</a>
              </h5>
              <p class="text-sm">
                <span>Posted on {{post.date_posted}}</span>
                <span>by</span>
                <a class="text-black" href="{{ post.author.get_absolute_url }}">
                {{post.author.user.username}}
                </a>
              </p>
              <div class="text-sm">
                {% for t in post.topic %}
                  <a class="text-black" href="#">{{t}}</a>
                {% endfor %}
              </div>
            </div>
            <div class="col col-md-4">
              <div class="text-center">
                <div class="col"> <i class="fa-solid fa-reply"></i> <span class="text-sm">{{post.reply_to_post.count}} Replies</span> </div>
              </div>
            </div>
        <!-- </div> -->
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
